html,body
    

*
    box-sizing: border-box
    text-align: center

.welcomePage
    section
        
        & span
            
        span:nth-child(1)
            
        span:nth-child(2)
            
    #contacts
         
    #menu
        padding: 0px
        width: 520px
        left: 50%
        transform: translate(-50%,0%)
        
        
        #name    
            
        .play
            #play
            
        ul
            li
                width: 140px
                padding: 5px
                margin: 10px
                &:hover
                    
                a
                    
    
.welcomePage::before
    
    

.welcomePage::after
    
    

    
    
    
#sub-wrappa
    width: 60%
    margin: auto
    max-width: 752px
    min-width: 663px
    //border: .3px solid
    padding: 3px 
    //box-shadow: gray 0px 0px 5px

.heading
    font-size: 1.5em
    margin: 5vh 0
    border-bottom: black 1px solid
    margin-bottom: 9vh
    border-bottom: black 1px solid
    padding: 3vh 2vw
    text-transform: uppercase
    text-align: left

#about
    >:not(:first-child)
        margin: 10px
    
    h2
        //font-size: 3vw

    #img
        width: 20vw
        height: 30vw
        background-position: 10% 100%
        background-size: 100%
        float: left
        border-radius: 10px
        border: solid black 0.3px
        margin: 10px
         
    p
        font-size: 25px
        text-align: left
        padding: 10px
        //float: left
        //display: inline-block

#knows
    clear: both
    div
        i
            font-size: 10vw
            img
                width: 10vw
            
.project
    .sidenote
        font-size: 1em

#comments
    .comment
        width: 70%
        padding: 10px 10%
        clip-path: polygon(0 0, 90% 0, 100% 100%, 10% 100%)

#contacts
    .contact
        width: 40%
        height: 140px

        //better-design
