html,body

.welcomePage
    height: 65%  
    #name    
        
    .play
        #play
        
    ul
        align-self: end
        li
            width: 140px
            padding: 5px
            margin: 10px
            &:hover
                
            a
.sidebar-cont
    background: #000
.smll-scrn-menu
    display: none
.sidebar
    display: grid
    grid-template-rows: 1fr 3fr 0.5fr 
    width: 300px
    background: rgba(247, 71, 61,0.2)
    position: sticky
    top: 0
    color: white
    >ul
        grid-row: 2/3
        text-align: right
        padding-left: 20px
        font-family: nth( $fonts, 3)
        text-transform: uppercase
        display: flex 
        flex-direction: column
        justify-content: space-between
        padding: 100px 10px
        li
            //background: grey
            padding: 5px
            border: transparent solid
            &:hover
                background: rgba(247, 71, 61,0.3)
                border: 
                    top: $color1 solid
                    bottom: $color1 solid
    .side-contact
        border-top: solid black
        padding-top: 15px
        text-align: center
        color: gray
        font-size: 20px
        i
            margin: 10px
.wrapper
    display: grid
    grid-template-columns: auto 1fr
#sub-wrappa
    width: 100%
    margin: auto
    //border: .3px solid
    padding: 3px 
    //box-shadow: gray 0px 0px 5px
    overflow: hidden
.heading
    font-size: 1.5em
    margin: 5vh 0
    border-bottom: black 1px solid
    margin-bottom: 9vh
    border-bottom: black 1px solid
    padding: 3vh 2vw
    text-transform: uppercase
    text-align: left

#about
    
    >:not(:first-child)
        //margin: 10px
    
    h2
        //font-size: 3vw

    #img
        border-radius: 0%
        width: 100%
        height: 300px
         
    p
        font-size: 25px
        text-align: left
        padding: 10px
        grid-row: 2/3
        //float: left
        //display: inline-block

#knows
    //background: linear-gradient(to left, $color1 0%,  $color3)
    padding: 0
    width: 95%
    margin: auto
    
    h3
        //margin-bottom: 5px
    .knowses
        &::-webkit-scrollbar
            width: 0px
            height: 2px
        &::-webkit-scrollbar-thumb
            background: #000
        display: flex
        flex-direction: row
        overflow: auto
        >div
            margin: 0px 15px 
            i
                font-size: 100px
                img
                    width: 80px
#portfolio
    >*:not(h2):not(p) 
        display: none           
.project 
    .sidenote
        font-size: 1em

#comments
    .comment
        width: 70%
        padding: 10px 10%
        clip-path: polygon(0 0, 90% 0, 100% 100%, 10% 100%)

#contacts
    text-align: center
    .contact
        width: 180px
        height: 140px 
        display: inline-block

    
//::-webkit-scrollbar

