
html,body
    

*
    

.welcomePage
    
    section
        
        & span
            
        span:nth-child(1)
            
        span:nth-child(2)
            
    #contacts
         
    #menu
        
        
        
        #name
            
            
        #play
            font-size: 3vw
            font-family: 'Quicksand'

        .play
            border: none
        ul
            
            li
                font-size: 4vw
                &:hover
                    
                a
                    
    
.welcomePage::before
    
    

.welcomePage::after
    
    

    
    
    
#sub-wrappa
    padding: 3vh 2vw
.heading
        font-size: 5vw
        margin: 5vh 0
        border-bottom: black 1px solid
#about

    img
         
    p
        font-family: 'Quicksand'
        font-size: 17px
        //font-weight: 500
        
        span
            
#btm 
    margin: 3px 0px
    position: relative
    padding: 1vh 5vw
  
    i
        font-size: 12vw
        margin: 5vw;
    .fa-angle-right
        position: absolute
        right: 0px
        top: 50%
        transform: translate(0,-50%)
        margin: 0px
footer
    height: 10vh
    text-align: center

