$fonts: 'Montserrat' 'Rajdhani' 'Dosis' 'Indie Flower' 'Marck Script';  

$color1: #F7473D
$color2: #ffeb3b
$color3: #F7833D

$background: linear-gradient(to left, $color3 0%,  $color1)
@mixin bg-card($img)
    height: inherit
    width: 100%
    background: url(#{$img}) no-repeat right top
    background-size: auto 22.5vh
    clip-path: polygon(100% 0, 100% 100%, 0% 100%, 30% 0%)
@statin
    color-interpolation-filters: 5px
    interprete: long-variables
    