/* line 2, main.sass */
html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  width: 100%; }

/* line 8, main.sass */
* {
  margin: 0px; }

/* line 11, main.sass */
.welcomePage {
  position: static;
  margin: 0px;
  width: 100%;
  height: 100%;
  color: white; }
  /* line 17, main.sass */
  .welcomePage section {
    float: left;
    padding-top: 20px; }
    /* line 20, main.sass */
    .welcomePage section span {
      display: block; }
    /* line 22, main.sass */
    .welcomePage section span:nth-child(1) {
      font-size: 35px;
      font-weight: bold; }
    /* line 25, main.sass */
    .welcomePage section span:nth-child(2) {
      color: #b4b4b4;
      font-weight: 300; }
  /* line 28, main.sass */
  .welcomePage #contacts {
    margin: 3vh;
    float: right;
    background: #ffeb3b;
    padding: 10px;
    border-radius: 50%;
    color: brown; }
  /* line 35, main.sass */
  .welcomePage #menu {
    height: 80%;
    clear: both;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 10vh; }
    /* line 47, main.sass */
    .welcomePage #menu #name {
      color: white;
      margin-bottom: 5%;
      text-align: center;
      font-size: 30px; }
    /* line 54, main.sass */
    .welcomePage #menu #play {
      font-size: 2vw; }
    /* line 61, main.sass */
    .welcomePage #menu .play {
      border-bottom: 2px solid pink;
      border-right: 2px solid pink;
      border-left: 2px solid pink;
      padding: 0px 4px;
      text-align: center;
      width: 10vw;
      height: 4vh; }
    /* line 70, main.sass */
    .welcomePage #menu ul {
      padding: 0px;
      margin-top: 7%; }
      /* line 74, main.sass */
      .welcomePage #menu ul li {
        border: 2px solid #ffeb3b;
        border-radius: 3px;
        color: #ffeb3b;
        display: inline-block;
        list-style: none;
        margin: 0 1vh;
        padding: 0 1vh;
        text-align: centre;
        text-decoration: none; }
        /* line 85, main.sass */
        .welcomePage #menu ul li:hover {
          background: #ffeb3b;
          color: black; }
        /* line 88, main.sass */
        .welcomePage #menu ul li a {
          text-decoration: none;
          color: inherit; }

/* line 92, main.sass */
.welcomePage::before {
  content: '';
  background: url("background.jpg") no-repeat 70% 50%;
  background-size: auto;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1; }

/* line 105, main.sass */
.welcomePage::after {
  content: '';
  background: rgba(50, 0, 0, 0.6);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: -1; }

/* line 119, main.sass */
#sub-wrappa {
  padding: 3vh 10vw;
  clear: both; }

/* line 125, main.sass */
#about h2 {
  font-size: 3vw;
  margin-bottom: 9vh;
  border-bottom: black 1px solid; }

/* line 130, main.sass */
#about img {
  float: left;
  width: 30vw;
  height: 30vw;
  border-radius: 50%;
  shape-outside: circle();
  padding-right: 3vw; }

/* line 137, main.sass */
#about p {
  color: black;
  font-size: 25px;
  text-align: left;
  font-family: sans-serif; }
  /* line 142, main.sass */
  #about p span {
    color: red;
    font-family: 'Quicksand'; }

/* line 145, main.sass */
#btm {
  border: 1px orange solid;
  height: 300px;
  margin: 10px 200px;
  position: relative;
  padding: 1vh 5vw; }
  /* line 151, main.sass */
  #btm h5 {
    text-align: center; }
  /* line 153, main.sass */
  #btm i {
    font-size: 6vw;
    float: right;
    margin: 5vw; }
  /* line 157, main.sass */
  #btm .fa-angle-right {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translate(0, -50%);
    margin: 0px; }

/* line 163, main.sass */
footer {
  background: gray; }

@media screen and (min-width: 480px) {
  /* line 33, _desktop.sass */
  .welcomePage #menu ul li {
    font-size: 2.5vw; }
  /* line 55, _desktop.sass */
  #about h2 {
    font-size: 3vw; }
  /* line 60, _desktop.sass */
  #about p {
    font-size: 25px; } }

@media screen and (max-width: 480px) {
  /* line 27, _phone.sass */
  .welcomePage #menu #play {
    font-size: 3vw; }
  /* line 30, _phone.sass */
  .welcomePage #menu .play {
    border: none; }
  /* line 34, _phone.sass */
  .welcomePage #menu ul li {
    font-size: 4vw; }
  /* line 52, _phone.sass */
  #sub-wrappa {
    padding: 3vh 2vw; }
  /* line 57, _phone.sass */
  #about h2 {
    font-size: 5vw;
    margin-bottom: 5vh; }
  /* line 63, _phone.sass */
  #about p {
    font-family: 'Quicksand';
    font-size: 14px; }
  /* line 69, _phone.sass */
  #btm {
    margin: 3px 0px;
    position: relative;
    padding: 1vh 5vw; }
    /* line 74, _phone.sass */
    #btm i {
      font-size: 12vw;
      margin: 5vw; }
    /* line 77, _phone.sass */
    #btm .fa-angle-right {
      position: absolute;
      right: 0px;
      top: 50%;
      transform: translate(0, -50%);
      margin: 0px; } }
