@import 'variables'
html,body
    margin: 0px
    padding: 0px
    height: 100%;
    width: 100%;

*
    margin: 0px
    box-sizing: border-box

.welcomePage
    position: static
    margin: 0px
    width: 100%
    height: 100%
    color: white
    section
        float: left
        padding-top: 20px
        & span
            display: block
        span:nth-child(1)
            font-size: 35px
            font-weight: bold;
        span:nth-child(2)
            color: rgb(180,180,180)
            font-weight: 300
    #contacts
        margin: 3vh
        float: right
        background: $color1
        padding: 10px
        border-radius: 50%
        color: brown 
    #menu
        height: 80%
        clear: both
        //background: green
        //text-align: center
        display: flex
        flex-direction: column
        justify-content: center
        align-items: center
        padding-top: 30vh
        
        
        #name
            color: white
            //background: red
            margin-bottom: 5%
            text-align: center;
            font-size: 30px
            
        #play
            //border-left : 2px solid white
            //border-right: 2px solid white
            //padding: 0px 4px
            //background: blue
            font-size: 2vw
            
        .play
            border:
                bottom: 2px solid pink
                right: 2px solid pink
                left: 2px solid pink
            padding: 0px 4px
            text-align: center
            width: 20vw
            height: 4vh
        ul
            //background: red;
            padding: 0px;
            margin-top: 7%
            li
                border: 2px solid $color1
                border-radius: 3px;
                color: $color1;
                display: inline-block;
                //padding: 8px;
                list-style: none;
                margin: 0 1vh 
                padding: 0 1vh
                text-align: centre
                text-decoration: none
                &:hover
                    background: $color1;
                    color: black;
                a
                    text-decoration: none
                    color: inherit

                    
                    
.welcomePage::before
    content: ''
    background: url('background.jpg') no-repeat 70% 50%
    background-size: auto
    position: absolute
    top: 0px
    left: 0px
    width: 100%
    height: 100%
    //border: 0.3px red solid;
    z-index: -1   

.welcomePage::after
    content: ''
    background: rgba(50,0,0,0.6);
    position: absolute
    top: 0px
    left: 0px
    width: 100%
    height: 100%
    z-index: -1
    

    
    
    
#sub-wrappa
    //background: yellow
    padding: 3vh 10vw;
    clear: both
    
.heading
    font-size: 3vw
    margin-bottom: 9vh
    border-bottom: black 1px solid
#about
    img
        float: left
        width: 30vw
        height: 30vw
        border-radius: 50%
        shape-outside: circle()
        padding-right: 3vw 
    p
        color: black;
        font-size: 25px;
        text-align: left;
        font-family: sans-serif;
        
        span
            color: red
            font-family: 'Quicksand'
#btm 
  border: 1px orange solid
  height: 300px;
  margin: 10px 200px
  position: relative
  padding: 1vh 5vw
  h5
    text-align: center
  i
    font-size: 6vw
    float: right;
    margin: 5vw;
  .fa-angle-right
        position: absolute
        right: 0px
        top: 50%
        transform: translate(0,-50%)
        margin: 0px
.project
    width: 100%
    height: 20vh
    //background: brown
    margin-top: 5vh
    font-family: 'Quicksand'
    text-align: center
    box-shadow: 0 0 5px gray
    position: relative
    
            
    .sidenote
        float: left
        width: 30%
        font-size: 10vw
        
        button
            border: brown 1px solid
            background: none
            font-weight: 600
            position: absolute
            top: 80%
            left: 5%
            a
                text-decoration: none
                color: brown
            &:hover
                background: $color1
    #fst
        @include bg-card('bitcoin.jpg')
    #scd
        @include bg-card('minneapolis.jpg')
    #trd
        @include bg-card('gym.jpg')
            
footer
    background: rgb(180,180,180)
    margin-top: 3vh
    padding: 12px 0px
    

@media screen and (min-width: 480px) 
    @import 'desktop'
 
    
@media screen and (max-width: 480px) 
    @import 'phone'
    


