.sidebar-cont 
    .smll-scrn-menu, .small-sidebar
        display: none
        height: 0px
    .sidebar
        display: grid
        grid-template-rows: 1fr 3fr 1fr
        width: 220px //250px
        position: sticky
        top: 0

        color: black//for white bg
        box-shadow: 0 -5px 5px gray inset//for white bg
        span:last-of-type
            color: rgb(100,100,100)
            font-weight: normal
        .logoo
            align-self: end

        >ul
            grid-row: 2/3
            text-align: right
            padding-left: 20px
            font-family: nth( $fonts, 3)
            text-transform: uppercase
            display: flex 
            flex-direction: column
            justify-content: space-between 
            align-self: center
            li
                padding: 5px
                margin: 10px 0
                border: transparent solid
                color: $color1 //for white bg
                &:hover
                    background: gray
                    color: white//for white bg
                    border: 
                        top: $color1 solid
                        bottom: $color1 solid
        .side-contact
            border-top: solid black
            text-align: center
            color: rgb(140,140,140)
            font-size: 20px
            align-self: center
            i
                margin: 10px

.wrapper        
    grid-template-columns: auto 1fr

.techniques
    .technique
        width: 100%